# GotthardDriver Configuration File
# Created 2016-10-01 09:40:11.027975
[gotthard]

# Number of bits used in Gotthard's key
key_bits             = 16

# The hostname of the gotthard store/switch
host                  = 192.168.1.13

# Path to persisted keymap file
keymap               = /tmp/keymap.bin

# The port number of the store/switch
port                 = 1234

# Path where log will be written
#logdir = /tmp/tpcc/logs

reset_store          = True

print_stats = True
