[style]
fontsize = 18
fontweight = bold
linewidth = 4
markersize = 12
showtitle = False
showlegend = True
#showgrid = False
usetex = False
xscale = linear
yscale = linear

[labels]
baseline = OCC
gotthard = NOCC

[units]
avg_txn_rate = Throughput (TXN/s)
avg_txn_lat = TXN Latency (ms)
write_ratio = Workload Write Ratio
num_clients = Number of Clients
store_msgs_per_txn = Messages per TXN received at store
store_cpu_pct = CPU Usage at Store (%)

[linestyle]
baseline = g - s
gotthard = r - o
