# GotthardDriver Configuration File
# Created 2016-10-06 21:23:16.193939
[gotthard]

# Whether the store should be reset before starting
reset_store          = True

# Number of bits used in Gotthard's key
key_bits             = 20

# The hostname of the gotthard store/switch
host                 = 10.0.0.10

# Path to persisted keymap file
keymap               = /tmp/keymap_10cl.bin

# Directory in which logs will be written
logdir               = /tmp

# The port number of the store/switch
port                 = 9999

