# GotthardDriver Configuration File
# Created 2016-10-01 09:40:11.027975
[gotthard]

# Number of bits used in Gotthard's key
key_bits             = 20

# The hostname of the gotthard store/switch
#host                 = h1
host                 = 10.0.0.10

# Path to persisted keymap file
keymap               = /tmp/keymap.bin

# The port number of the store/switch
port                 = 9999

# Path where log will be written
log                  = 
logdir = /root/src/gotthard/switch/logs

reset_store          = False
